Data
extract_features/build
extract_features/extract_features.exe
Final_classfier/.pio
Final_classfier/.vscode
K_means_on_training/build
K_means_on_training/Kmeans_ot.exe
Kmeans_solo/.vscode
Kmeans_solo/lib
Kmeans_thingsboard/.vscode
Kmeans_thingsboard/lib
Kmeans_time_test/.vscode
Kmeans_time_test/lib
OnOff/.vscode
OnOff/lib
OTA_test/.vscode
OTA_test/lib
plot_data/__pycache__
Simple_example/.vscode
Simple_example/lib